@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom right, #070630 0%, #060454 100%);
  min-height: 100vh;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.weather-app {
  text-align: center;
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
}

.weather-app h1 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
}

.weather-app input {
  padding: 10px;
  width: calc(100% - 22px);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.weather-app button {
  border: none;
  border-radius: 5px;
  background: black;
  color: grey;
  transition: background 0.3s;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.weather-app button:hover {
  background: whitesmoke;
}

#weather-result {
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loader {
  stroke: black;
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125;
  }
}

@keyframes color {
  30% {
    stroke: #ffffff;
  }
  20% {
    stroke: navy;
  }
  66% {
    stroke: grey;
  }
  80%,
  60% {
    stroke: lightseagreen;
  }
}

@media (max-width: 768px) {
  .weather-app {
    width: 100%;
  }
}
